

  @import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;700&family=Montserrat:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position:-ms-page;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);  
}

main{
    padding: 0;
    background-color: white;
    border-radius: 1rem;
    display:flex;
    width: 775px;
    height: 575px;
    
}

.part-two{
    margin: 0;
    padding: 1rem 2rem 1rem 2rem;
    height: 575px;
    display:flow-root;
    flex-direction: column;
    justify-content: center;   
  }

.header{
    margin:0;
    padding:1.5rem 0 0.5rem 0;
    font-weight:900;
    font-size: 10px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.5;
    letter-spacing: 10px;
}


.topic{
    padding:1rem 0 1.5rem 0;
    font-size: 20px;
    width: 20ch;
    color: black;
    font-family: 'Fraunces', serif;
    font-weight:bolder;
    
}

.descri{
    padding:0 0 1rem 0;
    font-weight:800;
    font-size: 18px;
    line-height:2rem;
    color: black;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.5;
}

.dis-price{
    font-weight: bolder;
    font-size: 45px;
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
}

.normal-price{
    padding:0.5rem 1rem 0rem 2rem;
    font-weight:700;
    font-size: 15px;
    text-decoration: line-through;
    opacity: 0.5;
    font-family: 'Montserrat', sans-serif;
}


img.img-1{ 
    height: 575px;
    border-radius: 1rem 0 0 1rem;
}

.price{
    display: flex;
}

button {
    margin: 2rem 0 0 0;
    padding:1.2rem 5.3rem 1.2rem 5.3rem;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background-color: hsl(158, 36%, 37%);
}

img.img-2{
    margin: 0;
    padding:0.3rem 0.5rem 0 0;
    
}

.add{
    margin: 0;
    padding: 0 0 0 1rem;
    font-weight:700;
    font-size: 1.2rem;
    color: white;
    font-family: 'Montserrat', sans-serif;

}


@media screen and (max-width: 720px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: hsl(30, 38%, 92%);
    }

    main{
        margin:0.5rem 1rem 0.5rem 1rem;
        padding: 0;
        background-color: white;
        border-radius: 0.6rem;
        display:grid;
        width: 400px;
        height: 650px;
    }

    img.img-1{ 
        content: url("images/image-product-mobile.jpg");
        width:400px;
        height:250px;
        border-radius: 0.6rem 0.6rem 0 0;
    }

      .part-two{
        margin: 0;
        padding: 1rem 1.5rem 1rem 1.5rem;
        height: 350px;
        display:flex;
        flex-direction: column;
        justify-content: center;  
    }

    .header{
        font-size: 8px;
        padding: 0 0 0.25rem 0;
        letter-spacing: 5px;
    }

    .topic{
        margin: 0;
        padding: 0.25rem 0 0.5rem 0;
        font-size: 16px;
        width: 30ch;
    }

    .descri{
        padding: 0.25rem 0 0.5rem 0;
        font-size: 16px;
        line-height:1.5rem;
        width: 30ch;
    }

    .dis-price{
        font-size: 35px;
        padding: 0.5rem 0 0 0;
    }

    .normal-price{
        padding:1.2rem 1rem 0rem 2rem;
    }
    
    button {
        margin:1rem 0 0 0;
        align-items: center;
        padding: 1rem 5.6rem 1rem 5.6rem;
    }

    .add{
        margin: 0;
        padding: 0 0 0 1rem;
        font-size: 15px;
    }

}